<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Real time colors</title>
    </head>
    <body>
        <main class="main">
            <button class="green">
                GREEN
            </button>
            <button class="blue">
                BLUE
            </button>
            <button class="pink">
                PINK
            </button>
        </main>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>