<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>EPIC BUTTON GAME</title>
</head>

<body>
    <div class="card text-center">
        <div class="card-header">
            EPIC BUTTON GAME
        </div>

        <div class="card-body">
            <div class="topMessage">

            </div>

        </div>

        <div class="card-body">

            <button id="button" class="btn-lg btn-primary">  Push the Epic Button </button>

        </div>
        <div class="container text-right mt-5">
            <button id="reset" class="btn btn-danger">Reset Count</button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"> </script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="./js/script.js"></script>

</body>

</html>